<h1>Quel qu un vous a contacte:</h1>
<ul>
    <li>
        Nom : {{ nom }}
    </li>
    <li>
        Email : {{ email }}
    </li>
    <li>
        Message : <br>
        {{ content | nl2br }}
    </li>
</ul>


